@import 'reset';

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

$medium-screen: "screen and (min-width: 521px) and (max-width: 760px)";
$small-screen: "screen and (max-width: 520px)";

.wrapper {
  position: relative;
  height: 400px;
  margin-bottom: 40px;

  .stacked {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.controlled-moire {
  clear: both;
  width: 100%;
  max-width: 780px;
  margin: 40px auto;

  @media #{$medium-screen} {
    width: 520px;
  }
}

.moire-circles {
  margin-top: 120px;
}

.the-moire {
  float: left;
  width: 480px;
  max-width: 100%;
  margin-bottom: 120px;

  canvas {
    width: 480px;
    max-width: 100%;
  }

  @media #{$medium-screen} {
    max-width: 300px;
    canvas {
      max-width: 300px;
    }
  }

  @media #{$small-screen} {
    float: none;
    width: 100%;
    overflow: hidden;
    margin-bottom: 60px;
    canvas {
      width: 100%;
    }
  }
}

.controls {
  margin: 50px 0;
  margin-left: 600px;

  @media #{$medium-screen} {
    margin-left: 380px;
  }

  @media #{$small-screen} {
    margin-left: 0px;
    margin-top: 40px;
    padding: 0 8px;
    input[type="range"] {
      width: 100%;
    }
    label {
      padding: 0 8px;
    }
  }
}

.labeled {
  margin: 16px 0;
  label {
    display: block;
    font-size: 32px;
    line-height: 40px;
  }
  input {
    margin: 8px 0;
  }
}

.colors {
  input {
    margin: 8px 2px;
  }
}

footer {
  clear: both;
  text-align: center;
  margin-bottom: 40px;
}
